@require './global.styl'

.alphabet-menu-wrapper
  font-family alphabetMenuFont
  .horizontal-line
    width 100%
    height 1px
    margin 0 auto
    margin-top 0.2em
    background-color alphabetMenuHR
    &.margin-top-zero
      margin-top 0
  .horizontal-scroller
    position relative
    height 39px
    width 90%
    margin 0 auto
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x auto
    -webkit-overflow-scrolling touch
    -ms-overflow-style -ms-autohiding-scrollbar
    &::-webkit-scrollbar
      display none
  ul
    position relative
    font-family primaryAccentFont
    color alphabetLetter
    font-size 1.6em
    list-style-type none
    margin 0
    padding 0 // override browser default
    li
      //border 1px solid thistle
      position relative
      padding 0.35em 0.5em
      display inline
      &:hover
        cursor pointer
        color lighten(alphabetLetter,15)
      &.active-letter
        color lighten(alphabetLetter,15)
        background-color rgba(255,255,255,0.5)
