@require './global.styl'
@require './alphabetmenu.styl'
@require './songlist.styl'
@require './audioplayer.styl'

body
  margin 0
  padding 0
  font-family sans-serif
  background-color #e6e6e6

.App
  text-align center

.App-logo
  animation App-logo-spin infinite 20s linear
  height 80px

.App-header
  padding 0.2em
  .logo
    width 48px
    height 33px
    background-attachment fixed
    background-position center
    margin 0 auto
    background url("../images/logo-48x33.png")
  .App-title
    color titleBlue
    text-transform uppercase
    font-size 1.3em
    font-weight 700
    font-family "open sans condensed"
  .slogan
    color sloganBlue
    font-family "meera Inimai"
    font-size 0.9em
    position relative
    top -0.8em

.App-intro
  font-size large

.drawer-wrapper
  //min-width 411px
  //max-width 25%
  padding-left 2rem
  padding-right 1rem
  padding-top 2rem
  font-family: drawerListFont
  h4
    color titleBlue
    text-transform: uppercase;
    i.fas.fa-star
      margin-right 0.7em
      font-size 0.8em
      position relative
      top -2px
  ol
    color drawerListTextColor
    list-style-type: circle;
    li
      margin 0
      position relative
      span.delete
        position relative
        padding 7px
        color darken(silver,9)
        font-size 0.9em
        &:hover
          cursor pointer
          color brightOceanBlue
        &:active
          color darken(silver,9)
          bottom -1px


.drawer-backdrop-override
  background-color transparent !important
.drawer-override
  max-width 25%
  min-width 300px
  background-color lighten(silver,15) !important
.open-drawer
  i.fas.fa-star
    color alphabetLetter
    &:hover
      cursor pointer
      color brightOceanBlue
