@require './global.styl'

playerBg = #dbdbdb
playerControls = #0099d1 // blue
playerText = #D10099 // hotpink
//playerControls = playerText
audioProgressBg = silver
audioProgressBg = #47ade4

#skip_button_foooo
  display none

#audio_player
  width 60%
  margin 0 auto
  margin-bottom 0.8em
  background-color: playerBg
  box-shadow: inset 1px 1px 10px 0px rgba(0,0,0,0.15)
  .right_facing_triangle
    border-left 16px solid playerControls
  .play_pause_inner
    .left, .right
      background-color: playerControls
    .triangle_1
      border-right 30px solid playerBg
    .triangle_2
      border-right 30px solid playerBg
  .audio_info // text name of song
    display none
    color playerText
  .audio_time_progress
    color playerText
    color white
    font-size 1.0em
    //background-color rgba(0,0,0,0.2)
    //background-color #198bb9 // muted slate-blue
    text-shadow: 1px 1px 8px rgba(0,0,0,0.5)
    padding 0 5px
  .audio_progress // when song is playing
    //background-color lighten(audioProgressBg,10)
    //background-color hsla(191,87,53,1) // teal seafoam
    //background-color #e71dae // cool-toned pink
    background-color hsla(197,76.5,35.1, 1) //slightly dark ocean blue
    box-shadow: inset 1px 1px 14px 0px rgba(0,0,0,0.45);
  .audio_progress_container
    background-color audioProgressBg
    box-shadow: inset 1px 1px 14px 0px rgba(0,0,0,0.45);

.favorite-download
  position absolute
  right 4em
  font-size 1.5em
  top 26%
  color darken(favoriteDownloadIcons, 8)
  .favorite, .download
    position relative
    //box-shadow: inset 1px 1px 10px 0px rgba(0,0,0,0.15)
    &:hover
      color lighten(alphabetLetter,10)
      color #d10099
  .favorite
    float left
    margin-right 0.5em
    &:active
      color alphabetLetter
      color #d10099
      top 2px
    .fas
      &:active
        //background-color: #565656;
        //color: transparent;
        //text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
        //-webkit-background-clip: text;
        //-moz-background-clip: text;
        //background-clip: text;
        color #d10099
  .already-favorited
    color #d10099
    &:hover
      color alphabetLetter
      color lighten(#d10099,10)
  .download
    float left
