// COLORS AND TYPOGRAPHY
titleBlue = #166a8e
primaryAccentBlue= #1e91c2
sloganBlue = #2e84a9
secondaryAccentBlue= #0070a0
brightOceanBlue = #1e91c2
darkOceanBlue = #1e91c2
fadedBlueDenim = #c1d0d6

alphabetLetter = brightOceanBlue
alphabetMenuHR = fadedBlueDenim

favoriteDownloadIcons = brightOceanBlue

drawerListTextColor = #4d4d4d


// TYPOGRAPHY
primaryAccentFont = "roboto slab"
alphabetMenuFont = "roboto slab"
songTitleFont = "noto sans"
songTitleFont = "muli"
songLengthText = "work sans"
drawerListFont = "meera inimai"
